@import '../../styles/settings.scss';

.component {
  display: flex;
  flex-direction: column;
}

.text {
  padding: calc($base-size * 4);
}

.title {
  margin-bottom: calc($base-size * 2);
  text-align: center;
  font-size: calc($base-size * 3);
  text-transform: uppercase;
}

.subtitle {
  text-align: center;
  font-size: calc($base-size * 2);
  font-style: italic;
  font-weight: normal;
}

.columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.creator {
  width: 100%;
  margin: $base-size auto 0;

  input {
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
  }
}

@media only screen and (max-width: 1024px) {
  .text {
    padding: calc($base-size * 3);
  }

  .title {
    font-size: calc($base-size * 2.5);
  }

  .subtitle {
    font-size: calc($base-size * 1.75);
  }
}
@media only screen and (max-width: 768px) {
  .text {
    padding: calc($base-size * 2) $base-size;
  }

  .title {
    font-size: calc($base-size * 2);
    margin-bottom: calc($base-size * 1.5);
  }

  .subtitle {
    font-size: calc($base-size * 1.5);
  }
}
@media only screen and (max-width: 550px) {
  .text {
    padding: calc($base-size * 2) $base-size;
  }

  .title {
    font-size: calc($base-size * 1.75);
    margin-bottom: $base-size;
  }

  .subtitle {
    font-size: calc($base-size * 1.25);
  }
}