@import '../../styles/settings.scss';

.component {
  margin: $base-size;
}

.title {
  margin-top: calc($base-size * 3);
  margin-bottom: calc($base-size * 2);
  text-align: center;
  font-size: calc($base-size * 3);
  text-transform: uppercase;
}

.subtitle {
  margin-bottom: calc($base-size * 3);
  text-align: center;
  font-size: calc($base-size * 2);
  font-style: italic;
  font-weight: normal;
}

.columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.creator {
  width: 100%;
  margin: $base-size auto 0;

  input {
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
  }
}
