@import '../../styles/settings.scss';

.component {
  width: 100%;
  background: darken($color-dark, 3%);
  padding: calc($base-size * 1.5) 0;

  a {
    color: $color-light;
    text-decoration: none;
    font-weight: 700;
    margin-left: $base-size;
    transition: $transition;
    &:hover {
      color: $color-success;
    }
    &:global(.active) {
      color: $color-warning;
    }
  }

}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: calc($base-size * 2.5);
}